---
layout: default
---
<section class="main-section home" data-equalizer>
  <div class="left-side jrj-panel" data-equalizer-watch>
    <h2 class="sexy-pink">{{ page.title }}</h2>
    <div style="margin-top:-10px; margin-bottom: 10px; font-size:80%;">
      Posted: {{ page.date | date: "%d %B %Y" }}
    </div>
    <p class="editable">{{ content }}</p>
  </div>
  <div class="right-side jrj-panel" data-equalizer-watch>
    <p class="editable">{{ content }}</p>
  </div>
</section>

<a class="exit-off-canvas"></a>