---
layout: default
description: A blog with the latest trends and news in Web Design
post_image_path: "/uploads/icon.png"
---
<section class="main-section home" data-equalizer>
  <div class="left-side jrj-panel" data-equalizer-watch>
    <h2 class="sexy-pink">{{ page.title }}</h2>
    <div style="margin-top:-10px; margin-bottom: 10px; font-size:80%;">
      Posted: {{ page.date | date: "%B %d, %Y" }}
    </div>
    <p class="">
      <img src="{{ post_image_path }}" alt="Article image" /> <br>
      {{ description}}
      {{ content }}
    </p>
  </div>
  <div class="right-side jrj-panel" data-equalizer-watch>
    <p class="">
      

    </p>
  </div>
</section>

<a class="exit-off-canvas"></a>