---
layout: default
image_path: ""
---
<section class="main-section home" data-equalizer>
  <div class="left-side jrj-panel editable" data-equalizer-watch>
    <h2 class="sexy-pink">{{ page.title }}</h2>
    <div style="margin-top:-10px; margin-bottom: 10px; font-size:80%;">
      Posted: {{ post.date | date: "%d %B %Y" }}

    </div>
    {{ page.content }}
  </div>
  <div class="right-side jrj-panel editable" data-equalizer-watch>
    <img src="{{ page.image_path }}" alt="{{ page.title }} article image"/>
    {{ page.content }}
  </div>
</section>

<a class="exit-off-canvas"></a>